a,h1,h2,h3,h4,h5,h6,p,span{font-family:Roboto,sans-serif;color:#04595e;}

.btn-primary span{color:#ffffff;}

#app{ min-height: 350px; }

.intro{margin-top: 1em; border-top: 1px solid #c0c0c0;}

table{border:1px solid silver;border-collapse:collapse}


table tr td{border:1px solid silver;}
/*table tr td .cell-wrapper-icon{}
table tr td.board-row-header{padding:.5em}
table tr.board-row-footer td{padding:.5em}
*/

table tr td .cell-icon{
	background-color: #DCDCDC;
    padding: .5em;
}
table tr td .cell-icon.water{background-color: #87CEFA;}
table tr td .cell-icon.bomb{background-color: #FF4500	;}
table tr td .cell-icon.gameover{background-color: #F5F5F5;}

table tr td.board-row-header{padding:.6em}
table tr.board-row-footer td{padding:.6em}

table span{font-size:.9em}

.table-content { width: 20px; }

.game-over{display:none;border:1px solid #04595e;position:absolute;top:50%;left:50%;width:400px;height:200px;margin-left:-200px;margin-top:-200px;text-align:center;padding:3em;background-color:red;z-index:999}
.game-over.player1{background-color:green}.game-over a,.game-over span{color:#ffffff}.game-over .message{display:none}


.board{float: left;width: 65%;margin: 1%;margin-top: 0;}
.board .title{margin-bottom: 1em;}
.board.player1 .title p{color: #228B22;}
.board.player2 .title p{color: #8B0000;}
.board.player1 .title{border-bottom:5px solid #7FFF00;}
.board.player2 .title{border-bottom:5px solid #FF0000;}
.board.player2 .fa-align-justify:hover{ cursor: pointer; }



.fleet-solutions{clear:both;display:block}

.fleet{float: right;width: 25%;margin: 2%;margin-top: 0;}

.fleet .title{margin-bottom: 1em;}

.fleet.player1 .title p{color: #228B22;}
.fleet.player2 .title p{color: #8B0000;}
.fleet.player1 .title{border-bottom:5px solid #7FFF00;}
.fleet.player2 .title{border-bottom:5px solid #FF0000;}

.fleet .ship{height:25px;margin-bottom:.3em;width:100%;}
.fleet .ship .ship-hull{height:25px;width:25px;float:left;/*border:1px solid #04595e;background-color:silver*/}
.fleet .ship .ship-hull.hit{opacity: 0.3;filter: alpha(opacity=30); /* IE8 and lower */zoom: 1; /* Triggers "hasLayout" in IE 7 and lower */;}

.fleet .ship-hull.ship-battleship-hull-0{ background-image: url('/src/public/images/hulls-25x25/Battleship-hull-0.png'); }
.fleet .ship-hull.ship-battleship-hull-1{ background-image: url('/src/public/images/hulls-25x25/Battleship-hull-1.png'); }
.fleet .ship-hull.ship-battleship-hull-2{ background-image: url('/src/public/images/hulls-25x25/Battleship-hull-2.png'); }
.fleet .ship-hull.ship-battleship-hull-3{ background-image: url('/src/public/images/hulls-25x25/Battleship-hull-3.png'); }

.fleet .ship-hull.ship-aircraft-carrier-hull-0{ background-image: url('/src/public/images/hulls-25x25/AircraftCarrier-hull-0.png'); }
.fleet .ship-hull.ship-aircraft-carrier-hull-1{ background-image: url('/src/public/images/hulls-25x25/AircraftCarrier-hull-1.png'); }
.fleet .ship-hull.ship-aircraft-carrier-hull-2{ background-image: url('/src/public/images/hulls-25x25/AircraftCarrier-hull-2.png'); }

.fleet .ship-hull.ship-destroyer-hull-0{ background-image: url('/src/public/images/hulls-25x25/Destroyer-hull-0.png'); }
.fleet .ship-hull.ship-destroyer-hull-1{ background-image: url('/src/public/images/hulls-25x25/Destroyer-hull-1.png'); }

.fleet .ship-hull.ship-small-ship-hull-0{ background-image: url('/src/public/images/hulls-25x25/SmallShip-hull-0.png'); }


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}





.level-stage{
	position: absolute;
    top: 0;
    left: 35%;
}





.countdown{
	top: 0;
    position: fixed;
    right: 0;
    z-index: 999;
    background-color: #ffffff;
}

.countdown .countdown-block {
    display: block;
    float: left;
    margin: 0.3em;
    border: 1px solid #ffffff;
    background-color: #000000;
    padding: 0.8em;
}

.countdown .countdown-block .text {
    color: #ffffff;
    text-align: center;
}

.countdown .countdown-block .digit {
	color: #ffffff;
    text-align: center;
}

.countdown .countdown-block.bck-white {
	background-color: #ffffff;
}
.countdown .countdown-block.bck-white .text {
	color: #000000;
}
.countdown .countdown-block.bck-white .digit {
	color: #000000;
}





.ship-hull[data-title]:hover {
  /*outline: red dotted 1px;*/ /*optional styling*/
  /*font-size: 30px;*/ /*optional styling*/
  
  position: relative;
  cursor: help;
  z-index: 999;
}

.ship-hull[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -30px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  /*font-size: 12px;
  font-family: sans-serif;*/
  white-space: nowrap;
}
.ship-hull[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;	
  border-bottom: 8px solid #000;
}












footer{border-top:1px solid #04595e;margin-top:1em}footer span{float:right;font-size:.8em}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
	margin-top: 1em;
	border-top: 1px solid #c0c0c0;
    /*background: #007b5e !important;*/
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    /*color:#ffffff;*/
}
#footer a {
    /*color: #ffffff;*/
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	/*color:#ffffff;*/
}
#footer ul.social li a:hover{
	/*color:#eeeeee;*/
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}